.settings
.classpath
.project

target
Reserve.txt
Quad.txt
Symbol.txt
traceFactorial.txt
SymbolFactorial.txt
QuadFactorial.txt
traceSum.txt
SymbolSum.txt
QuadSum.txt
LexicalTestSP24.txt
SymboltableLexical.txt
