.settings
.classpath
.project

target
Reserve.txt
Quad.txt
Symbol.txt
traceFactorial.txt
SymbolFactorial.txt
QuadFactorial.txt
traceSum.txt
SymbolSum.txt
QuadSum.txt
LexicalTestSP24.txt
SymboltableLexical.txt
GoodSyntaxA-SP24.txt
BadSyntax-1-A-SP24.txt
BadSyntax-2-A-SP24.txt
SyntaxB-GOOD-SP24.txt
SyntaxB-BAD-SP24.txt
